.gradient {
  position: relative;
  background-image: linear-gradient(
    to right,
    #63DFFA,
    #6C47FF
  );
  z-index: 1;
  background-clip: text;
}

.gradient::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    #6C47FF,
    #63DFFA
  );
  z-index: -1;
  transition: opacity 0.2s linear;
  opacity: 0;
  background-clip: text;
  content: "Auth starts here.";
  animation: opacity 3s linear infinite;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}